<form method="post" action="{{ path('app_tratamiento_delete', {'id': tratamiento.id}) }}" onsubmit="return confirm('Está seguro que desea borrar el tratamiento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tratamiento.id) }}">
    <button class="btn">Borrar</button>
</form>
