{% extends 'base.html.twig' %}

{% block title %}Nuevo Tratamiento{% endblock %}

{% block body %}
    <h1>Crear nuevo Tratamiento</h1>

    {{ include('tratamiento/_form.html.twig') }}

    <a href="{{ path('app_tratamiento_index') }}">Volver al índice</a>
{% endblock %}
